.git
.venv
.venv.locktmp
.local
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
artifacts_ens
artifacts_finetune_metadata
artifacts_sweep
video_artifacts
data_best
data_best_fast
data_new
video_data
